asgiref==3.2.5
awsebcli==3.17.1
botocore==1.14.17
cement==2.8.2
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.3.9
Django==3.1.13
django-cors-headers==3.2.1
djangorestframework==3.11.0
docutils==0.15.2
future==0.16.0
idna==2.7
jmespath==0.9.5
joblib==0.14.1
numpy==1.18.2
pandas==1.0.3
pathspec==0.5.9
psycopg2==2.8.4
psycopg2-binary==2.8.4
pypiwin32==223
python-dateutil==2.8.0
python-dotenv==0.12.0
pytz==2019.3
pywin32==227
PyYAML==5.2
requests==2.20.1
scikit-learn==0.22.2.post1
scipy==1.4.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.1
ta==0.5.17
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.9
